name: build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.14"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Hatch
        run: |
          python -m pip install --upgrade pip
          pip install hatch

      - name: Install Tox
        run: python -m pip install tox

      - name: Run Tox Tests
        run: tox -e py${{ matrix.python-version == '3.9' && '39' || '314' }}

      - name: Run Tox Lint (Run Once on Python 3.9)
        run: tox -e lint
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.python-version == '3.9' }}

      - name: Build package (Run Once on Python 3.14)
        run: hatch build
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.python-version == '3.14' }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
